venv
.env
input_handler/general_platform/output
input_handler/general_platform/__pycache__
configuration/mahabackend-firebase.json
input_handler/general_platform/response.json
input_handler/general_platform/log.txt
input_handler/general_platform/program_log.log
configuration
input_handler/Database/__pycache__
input_handler/twitter/program_log.log
