openai==0.28
selenium
webdriver-manager
python-dateutil 
spotipy
spotify_dl
pytz
loguru
selenium-wire
blinker==1.7.0
setuptools
ffmpeg
pymongo
firebase-admin
requests
playwright

###
attrs==24.2.0
certifi==2024.8.30
h11==0.14.0
idna==3.10
outcome==1.3.0.post0
PySocks==1.7.1
selenium==4.27.1
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==2.2.3
websocket-client==1.8.0
wsproto==1.2.0
selenium-stealth
imap-tools

###
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
attrs==24.2.0
discord.py==2.4.0
frozenlist==1.5.0
greenlet==3.1.1
idna==3.10
multidict==6.1.0
playwright==1.49.1
propcache==0.2.1
pyee==12.0.0
python-dotenv==1.0.1
typing_extensions==4.12.2
yarl==1.18.3

